dist: xenial
language: generic
sudo: required

branches:
  only:
    - master

before_install:
  - sudo apt-get update
  - openssl aes-256-cbc -K $encrypted_18cedf69c8fc_key -iv $encrypted_18cedf69c8fc_iv -in travis-test.enc -out travis-test -d
  - echo -e "Host github.com\n\tStrictHostKeyChecking no\nIdentityFile ~/.ssh/travis-test\n" >> ~/.ssh/config
  - cp travis-test ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa

install:
  - sudo apt-get install -y pandoc
  - sudo apt-get install -y texlive-lang-japanese

before_script:
  - chmod 700 ./script.sh

script:
  - ./script.sh
  - ls -Fl
  - git config --global user.email "travis@travis-ci.org"
  - git config --global user.name "Travis CI"
  - git checkout -b branch-autobuild
  - git add *.pdf
  - git commit -m "auto build complete"

