dist: xenial
language: generic
sudo: false

branches:
  only:
    - master

before_install:
  - openssl aes-256-cbc -K $encrypted_18cedf69c8fc_key -iv $encrypted_18cedf69c8fc_iv -in travis-test.enc -out travis-test -d
  - echo -e "Host github.com\n\tStrictHostKeyChecking no\nIdentityFile ~/.ssh/id_rsa\n" >> ~/.ssh/config
  - cp travis-test ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa


addons:
  apt:
    packages:
      - fonts-lmodern
      - texlive-fonts-extra
      - texlive-lang-japanese
      - texlive-latex-recommended
      - texlive-latex-extra
      - texlive-luatex
      - texlive-xetex
      - pandoc
      - latex-cjk-common
      - lmodern

cache:
  - apt: true

before_script:
  - chmod 700 ./script.sh

script:
  - ./script.sh
  - ls -Fl
  - echo $GH_USER_EMAIL | xargs git config --global user.email
  - echo $GH_USER_NAMEb| xargsbgit config --global user.name
  - git checkout -b branch-autobuild
  - git add *.pdf
  - git commit -m "auto build complete (JOB $TRAVIS_JOB_NUMBER) [ci skip]"
  - git push --set-upstream origin branch-autobuild

